@import url("https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700");

/* Main */
.body-background {
  text-align: center;
  background: url("../sky.jpg");
  /* background-size: cover; */
  max-width: 100%;
  height: auto;
  background-position: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

/* Headings */
  .format-header {
   font-family: 'Archivo', sans-serif;
   font-weight: 500;
   text-transform: uppercase;
   text-align: center;
   font-size: 50px;
  }

  /* Add background color to the top navigation */
  .topnavbar {
    background-color:rgba(255,255,255,0.5);
    overflow: hidden;
    text-align: center;
  }

  /* Style the links inside the navigation bar */
  .topnavbar a {
    float: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
  }

  /* Change the color of links on hover */
  .topnavbar a:hover {
    background-color:	#ADD8E6;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnavbar a.active {
    background-color: rgba(255,255,255,0);
    color: white;
  }

p {
  color: white;
  font: 'Archivo', sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-align: center;
 }

 /* Email Submit Section */
 .input {
     border: 0;
     padding: 10px;
     font-size: 18px;
     input[type="Submit"] {
     background: green;
     color: white; }
   }


.list {
  text-align: left;
  color: white;
  font-size: 18px;
  font-weight: 1000;
}

.signup {
  font-weight: bolder;
  font-size: 20px;
}




/* Style all font awesome icons */
 .fa {
  padding: 20px;
  font-size: 30px;
  /* width: 50px; */
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
 .fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Linkedin */
 .fa-linkedin {
  background:#3B5998;
  color: white;
}
/* Round Buttons */
 .fa {
  /* padding: 20px; */
  /* font-size: 30px; */
  /* width: 100px; */
  /* text-align: center; */
  /* text-decoration: none; */
  border-radius: 50%;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
