@import url("https://fonts.googleapis.com/css?family=Archivo:500|Open+Sans:300,700");

body {
  text-align: center;
  background: #864aff;
  background-size: cover;
  background-position: center;
  color: #00fdcb;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

  h1, h2, h3, h4, h5 {
   font-family: 'Archivo', sans-serif;
   font-weight: 500;
   text-transform: uppercase;
   text-align: center;
   font-size: 50px;
  }

ul {
  padding: 20px;
  background: rgba(255, 255, 255, 0.7)
  color: white;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

a {
  color: white;
}


p {
  color: white;
  font: 'Archivo', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
 }
 input {
     border: 0;
     padding: 10px;
     font-size: 18px;
     input[type="Submit"] {
     background: grey;
     color: black; }
   }

   /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 48px;
}
